@{
    ViewData["Title"] = "Home Page";
}
@section Scripts
{
    <script src="~/lib/@@microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script type="text/javascript">

        $(document).ready(() => {

            //.configureLogging(signalR.LogLevel.Information) LOGLAMA İÇİN
            var connection = new signalR.HubConnectionBuilder()
                .withAutomaticReconnect([1000, 3000, 3000, 2000]) //Bağlantı Koptuktan Sonra Tekrar Bağlanmayı Denemesi İçin 4 Kere 1000 ms arayla bağlanmayı dener.
                .withUrl("https://localhost:5001/MyHub").build();

            //Functions
            function statusShow() {
                $("#conStatus").text(connection.connectionState);
            }

            function start() {

                connection.start().then(() => {
                    statusShow();
                    $("#loading").hide();
                }).catch((err) => {
                    console.log(err);
                    setTimeout(()=> start(),2000)
                });

            }

            statusShow();
            start();


            //Subscribes
            connection.onreconnecting(err => {
                $("#loading").show();
                statusShow();
                console.log("onreconnection:" + err)
            });

            connection.onreconnected(connectionId => {
                $("#loading").hide();
                statusShow();
                console.log("connectionId:" + connectionId);
            });

            connection.onclose(() => {
                $("#loading").hide();
                statusShow();
                start();

            })

            connection.on("ReceiveClientCount", (clientCount) => {
                console.log(clientCount);
                $("#clientCount").text(clientCount);
            })

            connection.on("Notify", (countText) => {
                $("#notify").html(`<div class="alert alert-success"> ${countText} </div>`)
            })

            connection.on("Error", (errorText) => {
                alert(errorText);
            })

            //Clicks
            $("#btnNameSave").click(() => {

                //Not:invoke metodu bizim server tarafındaki metotları çağırmamızı sağlıyor
                connection.invoke("SendName", $("#txtName").val()).catch((err) =>
                    console.log(err))
            })


            ///On Methods
            //Not: Burada bir metota subscribe olmayı gerçekleştiriyor
            connection.on("ReceiveName", (name) => {
                $("#namesList").append(`<li class="list-group-item"> ${name} </li>`)
            })

        })


    </script>

}
<div class="row">
    <div class="col-md-8 offset-2 ">
        <input class="form-control" type="text" id="txtName" />
        <hr />
        <button class="btn btn-primary" id="btnNameSave">İsim Kaydet</button>
        <div class="alert alert-info">
            <div class="float-left">
                Bağlantı Durumu:<strong id="conStatus"></strong>
                ,Client Sayısı:<strong id="clientCount"></strong>
            </div>
            <div class="float-right">
                <div id="loading" class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="notify">

        </div>
    </div>
    <div class="col-md-8 offset-2">
        <ul class="list-group" id="namesList"></ul>
    </div>
</div>
